<div class="card mb-3"
          [ngClass]="{
            'border-success': module.deployed && module.health=='Healthy',
            'border-warning': (module.deployed && !module.deleting && module.health!='Healthy'),
            'border-danger': (module.deployed && module.deleting && module.health!='Healthy')
          }">

  <div class="card-body modulelist-wrapper">
    <h5 class="card-title " [ngClass]="{
      'text-success ': module.deployed && module.health=='Healthy',
      'text-warning': (module.deployed && !module.deleting && module.health!='Healthy'),
      'text-danger ': (module.deployed && module.deleting && module.health!='Healthy')
        }">
        {{module.name}}
      </h5>

    <small *ngFor="let tag of module.secondaryTags"><i>{{tag}} &nbsp;</i></small>

    <p class="card-text">
      {{module.description}}
    </p>
    <div>
      <small class="text-muted badge rounded-pill bg-light filter-tag" *ngFor="let tag of module.primaryTags">{{tag}} </small> <br>
    </div>
    <div class="container-fluid bottom p-0" style="width: 90%;">
      <div class="row">
        <div class="col-2">
          <a  href="{{globalConfig['SHOWROOM_URL']}}/{{module.application}}-intro.html" target="_application">Intro</a>&nbsp;

        </div>
        <div class="col" *ngIf="!module.isDefault" >
          <a href="{{globalConfig['SHOWROOM_URL']}}/{{module.application}}-instructions.html" target="_application">Instructions</a>&nbsp;
        </div>
        <div class="col">
          <div *ngIf="maxModulesReached && !module.deployed" class=" float-end">
            <button type="button" class="btn btn-sm btn-secondary btn-disabled" (click)="sendAlert('MAX_MODULES_DEPLOYED')"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;Deploy &nbsp;</button>&nbsp;
            <i class="fa fa-question-circle text-warning" (click)="sendAlert('MAX_MODULES_DEPLOYED')" ></i>
          </div>
          <div *ngIf="!module.isDefault" class=" float-end">
            <div *ngIf="!module.deployed && !maxModulesReached" class=" float-end">
              <button (click)="deployApplication(module.application)" type="button" class="btn btn-sm btn-secondary "
                [disabled]="module.deleting"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;Deploy</button>
            </div>
            <div *ngIf="module.deployed" class=" float-end">
              <button (click)="undeployApplication(module.application)" type="button" class="btn btn-sm btn-secondary"
                [disabled]="module.deleting"><i class="fa fa-minus-circle fa-lg"></i>&nbsp;&nbsp;Undeploy</button>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div *ngIf="module.isDefault" class="card-footer "
      [ngClass]="{
        'bg-success text-white': 'Healthy'
      }"
    >

    <span class="float-left"> Deployed: true </span>
    <span class="float-left">&nbsp; | &nbsp; Sync Status: Synced&nbsp; | &nbsp;</span>
    <span class="float-left">Health: Healthy</span>
  </div>

  <div *ngIf="!module.isDefault" class="card-footer "
      [ngClass]="{
        'bg-success text-white': module.deployed && module.health=='Healthy',
        'bg-warning': (module.deployed && !module.deleting && module.health!='Healthy'),
        'bg-danger  text-light': (module.deployed && module.deleting && module.health!='Healthy')
      }"
    >

    <span class="float-left" *ngIf="module.deleting"> Deployed: {{module.deployed}} (Deleting) </span>
    <span class="float-left" *ngIf="!module.deleting"> Deployed: {{module.deployed}} </span>
    <span class="float-left" *ngIf="module.deployed">&nbsp; | &nbsp; Sync Status: {{module.status}}&nbsp; | &nbsp;</span>
    <span class="float-left" *ngIf="module.deployed">Health: {{module.health}}</span>
  </div>
</div>