.white-pill {
  background: #fff;
  color: rgba(33, 37, 41, 0.75);
  border-color: 1px solid rgb(218,220,224);

  border: 1px solid rgb(218,220,224);
}

.displayFlex {
  display: flex;
  padding: .6em;
}



.orSeparator {
  margin-top:15px;
  margin-bottom:15px;
  display:flex;

}
.orSeparator:before, .orSeparator:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
}


.float-right-top {
  display: block;
  position: relative;
  float: right;
}



.btn-clipboard {
  position: absolute;
  right: 0.65rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: .65em;
  color: #010101;
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.25rem;
}

.bd-clipboard {
  display: block;
}
.bd-clipboard {
  position: relative;
  float: right;
}
